*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    justify-self: center;
}
.logo > img{
    width: 100%;
    border-radius: 50%;
}
nav > ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.lista{
    border: solid orange 2px;
    border-radius: 10px;
    width: 50%;
}
/*section{
    width: 50%;
}*/
/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 100dvh; /* Ocupa toda la altura del viewport */
    background: url('../img/img_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.contenedor-elementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor-elementos > div{
    margin: 1%;
}
/*************************************************************/
aside{
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
}
aside > img{
    width: 100%;
}
.circulo{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circulo > div{
    display: flex;
}
.contacto{
    width: 100%;
    display: flex;
}
.contacto > div{
    display: flex;
    align-items: center;
    border: 2px solid green;
    width: 100%;
}
.right{
    display: flex;
    align-items: center;
    justify-content: end;
}
.contact{
    font-size: 50px;
}
footer{
    display: flex;
    justify-content: space-around;
}
/* DEMO */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery > div{
    border-radius: 10px;
    margin: 1%;
    width: 30%;
    height: 200px;
    border: 2px solid black;
}
@media(max-width: 500px){
    .lista{
        width: 100%;
    }
}