*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New';
}
.logo{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    justify-self: center;
}
.logo > img{
    width: 100%;
    border-radius: 50%;
}
.contenedor-lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.contenedor-items > ul{
    list-style: none;
    text-align: start;
}
.contenedor-items{
    width: 100%;
}
.contenedor-items > ul > li{
    margin: 1%;
    height: 25px;
    transition: 0.3s ease-in-out transform;
    width: 750px;
}
.contenedor-items > ul > li:hover{
    cursor: pointer;
    background: #c92a2a;
    font-size: 20px;
    transform: scale(1.1);
    border-radius: 20px;
    text-align: center;
}
.lista{
    border: solid orange 2px;
    border-radius: 10px;
    width: 70%;
}
/*section{
    width: 50%;
}*/
/* HERO */
.hero {
    position: relative;
    width: 100%;
    height: 100dvh; /* Ocupa toda la altura del viewport */
    background: url('../img/img_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-position: start;*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.contenedor-elementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenedor-elementos > div{
    margin: 1%;
}
/*************************************************************/
/*aside{
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
}
aside > img{
    width: 100%;
}*/
.contenedor-circulo{
    width: 160px;
    height: 160px;
}
.circulo{
    border: 2px solid #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: 1s infinite alternate ease boton;
}
@keyframes boton{
    from{
        width: 150px;
        height: 150px;
    }
    to{
        width: 155px;
        height: 155px;
    }
}
.contacto{
    width: 100%;
    display: flex;
}
.right{
    display: flex;
    align-items: center;
    justify-content: end;
}
.contact{
    font-size: 50px;
}
.contacto-texto{
    display: flex;
    font-size: 25px;
    flex-direction: column;
}
.left, .right{
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 0.25%;
    justify-content: space-around;
}
footer{
    display: flex;
    justify-content: space-around;
}
/* DEMO */
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery > div{
    border-radius: 10px;
    margin: 1%;
    width: 30%;
    height: 200px;
    border: 2px solid black;
}
@media(max-width: 1220px){
    .contenedor-items > ul > li{
        width: 700px;
    }
}
@media(max-width: 1150px){
    .contenedor-items > ul > li{
        width: 650px;
    }
}
@media(max-width: 1070px){
    .contenedor-items > ul > li{
        width: 600px;
    }
}
@media(max-width: 990px){
    .contenedor-items > ul > li{
        width: 550px;
    }
}
@media(max-width: 910px){
    .contenedor-items > ul > li{
        width: 500px;
    }
}
@media(max-width: 840px){
    .contenedor-items > ul > li{
        width: 450px;
    }
}
@media(max-width: 760px){
    .contenedor-lista{
        flex-direction: column;
    }
    .lista{
        width: 100%;
        margin: 1%;
    }
    .contenedor-items{
        width: 100%;
    }
    .contenedor-items > ul > li{
        width: 550px;
    }
}
@media(max-width: 650px){
    .contenedor-items > ul > li{
        width: 500px;
    }
}
@media(max-width: 600px){
    .contenedor-items > ul > li{
        width: 450px;
    }
    .contacto{
        flex-direction: column;
    }
}
@media(max-width: 540px){
    .contenedor-items > ul > li{
        width: 400px;
    }
    .contenedor-items > ul > li:hover{
        background: #c6c92a;
        transform: scale(1.05);
        font-size: 15px;
        text-align: start;
    }
}
@media(max-width: 470px){
    .contenedor-items > ul > li{
        height: 25px;
        transition: 0.1s ease-in-out transform;
        width: 350px;
    }
    .contenedor-items > ul > li:hover{
        transform: scale(0.99);
    }
    .contenedor-items > ul{
        padding-left: 0;
    }
}